<!-- start -->
<%-include("partials/start.ejs")%>
<!-- nav -->
<%-include("partials/navBar.ejs")%>
<div class="flex overflow-hidden bg-white pt-16">
  <!-- side bar -->
  <%-include("partials/aside.ejs")%>

  <div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64">
    <main>
      <!-- content -->
    </main>
  </div>
</div>

<script async defer src="/assets/js/buttons.js"></script>
<script src="/assets/js/app.bundle.js"></script>
<!-- end -->
<%-include("partials/end.ejs")%>